<div class="container">
    <h3 class="d-flex justify-content-center">Gridiron Insurance API</h3><br>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Gridiron</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/insureds']" class="nav-link active" aria-current="page" href="#">Insureds</a>
                      </li>
                </ul>
            </div>
        </div>
    </nav>  
    
    <router-outlet></router-outlet>
</div>



